@import url(https://fonts.googleapis.com/css?family=Karla);

body {
  font-family: "Karla", sans-serif;
}

#welcome_div{
  background-image: url("../img/first_meeting_bw_zoom_blur.jpg");
  background-size: cover;
  height: 50rem;
  width: 100%
}

#proceed {
  display: none;
}

.card-img {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.cursor {
    animation: blink 0.7s infinite;
}
