{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h1 class="display-4 text-center p-4">Members</h1>

  <!-- member -->
  <div class="card mb-4 mt-4 mb-4">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{ url_for('static', filename = 'img/sarita.jpg') }}" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Sarita Pennoh, <small class="text-muted">Freshman</small></h5>
          <p class="card-text"><strong>How I got interested in Tech: </strong>I was first introduced into computer science and coding around 5th grade, with teachers often showing us Hour of Code. I didn’t actively pursue technology until 7th and 8th grade, with taking a little computer science class in middle school and applying for AoIT that same year. Now, thanks to AoIT, I’m certified in Python.</p>
          <p class="card-text"><strong>Why Tech?</strong> I’ve always found computers and what goes on behind them interesting. I had been in a Girls Who Code in 7th grade, and had originally enjoyed it, though I thought that what we were doing was too simple. I wanted to join Girls Who Code here because I thought the program would give me more experience with technology than what I had already knew, and it did.</p>
          <p class="card-text"><strong>Favorite Woman in Tech: </strong>Ada Lovelace</p>
          <p class="card-text"><strong>Favorite Part of GWC: </strong><del>Food</del> I had gotten to meet/get to know others with a common interest as me, which has made me considerably more social. The project I’m working on is also the first I’ve done where I can have creative input and collaborate with other creative minds. </p>
        </div>
      </div>
    </div>
  </div>
  <!-- end member -->

  <!-- member -->
  <div class="card mb-4 mt-4 mb-4">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22277%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20277%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_167383fc161%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_167383fc161%22%3E%3Crect%20width%3D%22277%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22102.6953125%22%20y%3D%2296.2390625%22%3E277x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Skylar Kirsten, <small class="text-muted">Sophomore</small></h5>
          <p class="card-text"><strong>How I got interested in Tech: </strong>I was first introduced into programming in fifth grade, when we did an hour of code in our computer labs. It wasn’t anything like actual coding, it was more of a game where you drag and dropped certain commands to make an angry bird move through a maze. It wasn’t until coming to Cox Mill to join the graphic design and webpage design classes. As required by every AoIT freshman I was placed in an introduction to python programming class for one semester. In that class I found that I really enjoyed the Idea of “bending computers to my will”. So instead of going into graphic design like I had planned I switched to the next programming classes. </p>
          <p class="card-text"><strong>Why Tech? </strong>I was very optimistic about women in IT for a while because I felt that we as a society had made a lot of progress. However it wasn’t until I had to visit my programming teacher during third period when he was teaching his networking class. It was a small class completely made up of males. Feeling very much like a fish out of water I was very grateful for girl who code.</p>
          <p class="card-text"><strong>Favorite Woman in Tech: </strong>Margaret Hamilton! she wrote the apollo space mission code all. by. hand. she’s a crazy big inspiration for me as a women in tech and a space nerd.</p>
          <p class="card-text"><strong>Favorite Part of GWC: </strong>In GWC I am able to expand my programming skills with my peers</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end member -->

  <!-- member -->
  <div class="card mb-4 mt-4 mb-4">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22277%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20277%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_167383fc161%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_167383fc161%22%3E%3Crect%20width%3D%22277%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22102.6953125%22%20y%3D%2296.2390625%22%3E277x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Kirsten Babsa-ay, <small class="text-muted">Year</small></h5>
          <p class="card-text"><strong>How I got interested in Tech: </strong>I was first introduced into computer science and coding around 5th grade, with teachers often showing us Hour of Code. I didn’t actively pursue technology until 7th and 8th grade, with taking a little computer science class in middle school and applying for AoIT that same year. Now, thanks to AoIT, I’m certified in Python.</p>
          <p class="card-text"><strong>Why Tech?</strong> I’ve always found computers and what goes on behind them interesting. I had been in a Girls Who Code in 7th grade, and had originally enjoyed it, though I thought that what we were doing was too simple. I wanted to join Girls Who Code here because I thought the program would give me more experience with technology than what I had already knew, and it did.</p>
          <p class="card-text"><strong>Favorite Woman in Tech: </strong>Ada Lovelace</p>
          <p class="card-text"><strong>Favorite Part of GWC: </strong><del>Food</del> I had gotten to meet/get to know others with a common interest as me, which has made me considerably more social. The project I’m working on is also the first I’ve done where I can have creative input and collaborate with other creative minds. </p>
        </div>
      </div>
    </div>
  </div>
  <!-- end member -->

  <!-- member -->
  <div class="card mb-4 mt-4 mb-4">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22277%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20277%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_167383fc161%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_167383fc161%22%3E%3Crect%20width%3D%22277%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22102.6953125%22%20y%3D%2296.2390625%22%3E277x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Pooja Yadav, <small class="text-muted">Freshman</small></h5>
          <p class="card-text"><strong>How I got interested in Tech: </strong>I was first introduced to programming and computer science in 8th grade, I didn’t actually start coding until my freshman year in high school. I am currently in AOIT, and I will continue to be so throughout high school, AOIT gave me more exposure to the computer science field and because of them I am Python certified.</p>
          <p class="card-text"><strong>Why Tech? </strong>I have always been passionate about coding and I thought Girls who could would help me further pursue my interest in the computer science field.</p>
          <p class="card-text"><strong>Favorite Woman in Tech: </strong>Ida Rhodes</p>
          <p class="card-text"><strong>Favorite Part of GWC: </strong>answer</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end member -->

  <!-- member -->
  <div class="card mb-4 mt-4 mb-4">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22277%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20277%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_167383fc161%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_167383fc161%22%3E%3Crect%20width%3D%22277%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22102.6953125%22%20y%3D%2296.2390625%22%3E277x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Kamia Bryan, <small class="text-muted">Junior</small></h5>
          <p class="card-text"><strong>How I got interested in Tech: </strong>I have always been interested in technology. I never took any computer related classes until I came to Cox Mill. I am in the AoIT program, so all of my classes are technology related. I took classes such as Microsoft Word, Powerpoint, Excel, Publisher, and Access. I was first introduced to programming my sophomore year. The idea of programming games, apps, or websites interested me. </p>
          <p class="card-text"><strong>Why Tech?</strong> answer </p>
          <p class="card-text"><strong>Favorite Woman in Tech: </strong>My favorite woman in tech is Katherine Johnson. </p>
          <p class="card-text"><strong>Favorite Part of GWC: </strong>Girls who code gave me the opportunity to apply my programming skills and further my knowledge about coding. </p>
        </div>
      </div>
    </div>
  </div>
  <!-- end member -->

  <!-- member -->
  <div class="card mb-4 mt-4 mb-4">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22277%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20277%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_167383fc161%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_167383fc161%22%3E%3Crect%20width%3D%22277%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22102.6953125%22%20y%3D%2296.2390625%22%3E277x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Amina Bryan, <small class="text-muted">Year</small></h5>
          <p class="card-text"><strong>How I got interested in Tech: </strong>The first time I was introduced to technology as a child (perks of being gen z) so when I got to middle school we all chose paths. The path I chose was architecture so I ended up taking the class and learning how to do all of these amazing things.</p>
          <p class="card-text"><strong>Why Tech? </strong>answer</p>
          <p class="card-text"><strong>Favorite Woman in Tech: </strong>answer</p>
          <p class="card-text"><strong>Favorite Part of GWC: </strong>answer</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end member -->

</div>
{% endblock %}
