{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h1 class="display-4 text-center p-4">Members</h1>

  <!-- member -->
  <div class="card mb-4 mt-4 mb-4">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{ url_for('static', filename = 'img/sarita.jpg') }}" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Sarita Pennoh, <small class="text-muted">Freshman</small></h5>
          <p class="card-text"><strong>How I got interested in Tech: </strong>I was first introduced into computer science and coding around 5th grade, with teachers often showing us Hour of Code. I didn’t actively pursue technology until 7th and 8th grade, with taking a little computer science class in middle school and applying for AoIT that same year. Now, thanks to AoIT, I’m certified in Python.</p>
          <p class="card-text"><strong>Why Tech?</strong> I’ve always found computers and what goes on behind them interesting. I had been in a Girls Who Code in 7th grade, and had originally enjoyed it, though I thought that what we were doing was too simple. I wanted to join Girls Who Code here because I thought the program would give me more experience with technology than what I had already knew, and it did.</p>
          <p class="card-text"><strong>Favorite Woman in Tech: </strong>Ada Lovelace</p>
          <p class="card-text"><strong>Favorite Part of GWC: </strong><del>Food</del> I had gotten to meet/get to know others with a common interest as me, which has made me considerably more social. The project I’m working on is also the first I’ve done where I can have creative input and collaborate with other creative minds. </p>
        </div>
      </div>
    </div>
  </div>
  <!-- end member -->

  <!-- member -->
  <div class="card mb-4 mt-4 mb-4">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{ url_for('static', filename = 'img/skylar.jpg') }}" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Skylar Kirsten, <small class="text-muted">Sophomore</small></h5>
          <p class="card-text"><strong>How I got interested in Tech: </strong>I was first introduced into programming in fifth grade, when we did an hour of code in our computer labs. It wasn’t anything like actual coding, it was more of a game where you drag and dropped certain commands to make an angry bird move through a maze. It wasn’t until coming to Cox Mill to join the graphic design and webpage design classes. As required by every AoIT freshman I was placed in an introduction to python programming class for one semester. In that class I found that I really enjoyed the Idea of “bending computers to my will”. So instead of going into graphic design like I had planned I switched to the next programming classes. </p>
          <p class="card-text"><strong>Why Tech? </strong>I was very optimistic about women in IT for a while because I felt that we as a society had made a lot of progress. However it wasn’t until I had to visit my programming teacher during third period when he was teaching his networking class. It was a small class completely made up of males. Feeling very much like a fish out of water I was very grateful for girl who code.</p>
          <p class="card-text"><strong>Favorite Woman in Tech: </strong>Margaret Hamilton! she wrote the apollo space mission code all. by. hand. she’s a crazy big inspiration for me as a women in tech and a space nerd.</p>
          <p class="card-text"><strong>Favorite Part of GWC: </strong>In GWC I am able to expand my programming skills with my peers</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end member -->

  <!-- member -->
  <div class="card mb-4 mt-4 mb-4">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22277%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20277%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_167383fc161%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_167383fc161%22%3E%3Crect%20width%3D%22277%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22102.6953125%22%20y%3D%2296.2390625%22%3E277x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Kirsten Babsa-ay, <small class="text-muted">Year</small></h5>
          <p class="card-text"><strong>How I got interested in Tech: </strong>I was introduced to programming and computer science in 7th grade. I’m in 10th grade now! Since then, it’s been a blur. For now, I’m testing my options and seeing what I can do. The tech industry is really interesting!</p>
          <p class="card-text"><strong>Why Tech?</strong> answer</p>
          <p class="card-text"><strong>Favorite Woman in Tech: </strong>Ada Lovelace</p>
          <p class="card-text"><strong>Favorite Part of GWC: </strong>Girls Who Code is a very big opportunity to use my skills as a programmer and a team-worker. It is fun to program and work with other girls who are interested in tech like me!</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end member -->

  <!-- member -->
  <div class="card mb-4 mt-4 mb-4">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{ url_for('static', filename = 'img/pooja.jpg') }}" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Pooja Yadav, <small class="text-muted">Freshman</small></h5>
          <p class="card-text"><strong>How I got interested in Tech: </strong>I was first introduced to programming and computer science in 8th grade, I didn’t actually start coding until my freshman year in high school. I am currently in AOIT, and I will continue to be so throughout high school, AOIT gave me more exposure to the computer science field and because of them I am Python certified. During my free time I like to learn different programming languages like JAVA, SQL to broaden my knowledge in the computer science field. </p>
          <p class="card-text"><strong>Why Tech? </strong>I want to pursue my programming experience to support real life world problems specially around bioinformatics and the field of healthcare and medicine. </p>
          <p class="card-text"><strong>Favorite Woman in Tech: </strong>My favorite woman in programming is Ida Rhodes</p>
          <p class="card-text"><strong>Favorite Part of GWC: </strong> I have always been passionate about coding and I thought Girls who could would help me further pursue my interest in the computer science field and Artificial Intelligence.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end member -->

  <!-- member -->
  <div class="card mb-4 mt-4 mb-4">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{ url_for('static', filename = 'img/kamia.jpg') }}" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Kamia Bryan, <small class="text-muted">Junior</small></h5>
          <p class="card-text"><strong>How I got interested in Tech: </strong>I have always been interested in technology. I never took any computer related classes until I came to Cox Mill. I am in the AoIT program, so all of my classes are technology related. I took classes such as Microsoft Word, Powerpoint, Excel, Publisher, and Access. I was first introduced to programming my sophomore year. The idea of programming games, apps, or websites interested me. </p>
          <p class="card-text"><strong>Why Tech?</strong> I think technology as a whole is very interesting. It is an always growing field that never fails to impress. The first program to run on a computer was in 1948 and technology has only improved since then. Technology will only progress and become more efficient as time goes on.  </p>
          <p class="card-text"><strong>Favorite Woman in Tech: </strong>My favorite woman in tech is Katherine Johnson because her orbital mechanical calculations helped the first U.S manned space flights. I have always been interested in space and life beyond earth. As a kid, it was really cool to see a black woman who had such a big impact on space travel.</p>
          <p class="card-text"><strong>Favorite Part of GWC: </strong>Girls who code gave me the opportunity to apply my programming skills and further my knowledge about coding. </p>
        </div>
      </div>
    </div>
  </div>
  <!-- end member -->

  <!-- member -->
  <div class="card mb-4 mt-4 mb-4">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22277%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20277%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_167383fc161%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_167383fc161%22%3E%3Crect%20width%3D%22277%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22102.6953125%22%20y%3D%2296.2390625%22%3E277x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Amina Mahamed, <small class="text-muted">Year</small></h5>
          <p class="card-text"><strong>How I got interested in Tech: </strong>The first time I was introduced to technology as a child (perks of being gen z) so when I got to middle school we all chose paths. The path I chose was architecture so I ended up taking the class and learning how to do all of these amazing things.</p>
          <p class="card-text"><strong>Why Tech? </strong>answer</p>
          <p class="card-text"><strong>Favorite Woman in Tech: </strong>answer</p>
          <p class="card-text"><strong>Favorite Part of GWC: </strong>answer</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end member -->

  <!-- member -->
  <div class="card mb-4 mt-4 mb-4">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{ url_for('static', filename = 'img/likhita.jpg') }}" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Likhita Konakalla, <small class="text-muted">Sophomore</small></h5>
          <p class="card-text"><strong>How I got interested in Tech: </strong>I was always familiar with computer science and software engineering because my dad is a software engineer. But the first time I heard about computer programming was in 8th grade from my dad's friend, he described programming as hard and challenging. This motivated me to take a shot at programming. When I came to high school, my counselor gave me the opportunity to do Python Programming. At the same time, my friend informed me about girls who code, and that is how I became a part of girls who code.</p>
          <p class="card-text"><strong>Why Tech?</strong> I have an interest in technology because I feel coding is a challenge and I love challenges, in addition, I also love the idea of creating websites and programs with programming.</p>
          <p class="card-text"><strong>Favorite Woman in Tech: </strong>My favorite woman in tech is Ada Lovelace because she is the first coder in the world. Ironically, she is a girl.</p>
          <p class="card-text"><strong>Favorite Part of GWC: </strong>Girls who code taught me that coding has many applications, also it taught me to use my knowledge of coding to create programs and projects.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end member -->

  <!-- member -->
  <div class="card mb-4 mt-4 mb-4">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22277%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20277%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_167383fc161%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_167383fc161%22%3E%3Crect%20width%3D%22277%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22102.6953125%22%20y%3D%2296.2390625%22%3E277x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Serena Brantley, <small class="text-muted">Junior</small></h5>
          <p class="card-text"><strong>How I got interested in Tech: </strong> I was first introduced to technology as a career during a Vex Robotics class in middle school and learned a simplified version of building and programming the robots. This class piqued my interest in technology and inspired me to join my high school’s AoIT program. While I chose the multimedia track over the programming track, I became curious about the programming side and decided to try join Girls Who Code and take the Computer Science Principles class.</p>
          <p class="card-text"><strong>Why Tech?</strong>  As I learned more about the potential, growth, and new applications for computer science, I became more and more excited about it as a possible major and career. In the future, I plan to use more opportunities to learn about computer science and programming while also honoring what I have learned through multimedia. </p>
          <p class="card-text"><strong>Favorite Woman in Tech: </strong> answer</p>
          <p class="card-text"><strong>Favorite Part of GWC: </strong>answer </p>
        </div>
      </div>
    </div>
  </div>
  <!-- end member -->

  <!-- member -->
  <div class="card mb-4 mt-4 mb-4">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22277%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20277%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_167383fc161%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_167383fc161%22%3E%3Crect%20width%3D%22277%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22102.6953125%22%20y%3D%2296.2390625%22%3E277x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Sreejani Jonnalagadda, <small class="text-muted">Freshman</small></h5>
          <p class="card-text"><strong>How I got interested in Tech: </strong> I have always been interested in technology and computer science from a young age and knew that I wanted to learn more about this interesting field. My inspiration to possibly become a software engineer as a career came from my family of programmers who opened my eyes to the interesting world of technology. I am currently learning to code through online websites including Girls Who Code and I will hopefully earn my certification in Python by the end of the summer. Although I am not sure of the profession I want to pursue in the future, I definitely know that it will involve some sort of technological activity. </p>
          <p class="card-text"><strong>Why Tech?</strong> I have always been interested and fascinated by technology so I joined Girls Who Code to potentially better my coding skills.  </p>
          <p class="card-text"><strong>Favorite Woman in Tech: </strong> My favorite woman in technology would probably be Marissa Mayer.</p>
          <p class="card-text"><strong>Favorite Part of GWC: </strong>My coding skills have advanced and I have been able to meet many other interesting people with similar career paths and interests as me through this program. </p>
        </div>
      </div>
    </div>
  </div>
  <!-- end member -->

  <!-- member -->
  <div class="card mb-4 mt-4 mb-4">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{ url_for('static', filename = 'img/lauren.jpg') }}" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Lauren Houston, <small class="text-muted">Sophomore</small></h5>
          <p class="card-text"><strong>How I got interested in Tech: </strong> My whole life, I’ve always been drawn to technology. Once I was in high school, I joined the AoIT (Academy of Information Technology) program. I was placed into an introduction to Python class and found that I deeply enjoyed it! This year, I followed the Python programming path and continued the class. By the end of the school year, I will be certified in Python! I was also accepted into the Girls Who Code Summer Immersion Program, so I will be working with others who are interested in coding over Summer. Next year I plan to continue learning Python and further advance my knowledge in the computer science field.</p>
          <p class="card-text"><strong>Why Tech?</strong> Coding has always been something that I’ve been passionate about. Girls Who Code has given me the chance to learn more about my interests and improve my programing.
 </p>
          <p class="card-text"><strong>Favorite Woman in Tech: </strong> My favorite woman in tech is Margaret Hamilton! She is my favorite because she helped ensure the success of the Apollo 11, moon landing, mission. Hamilton led a team that developed the fundamental building blocks of software engineering during the mission.
</p>
          <p class="card-text"><strong>Favorite Part of GWC: </strong>Through Girls Who Code, I've had the opportunity to meet several amazing people who have similar interests and career preferences. I have also had the ability to test my abilities with coding in Python. With the freedom we are given, I was able to work at my own pace and in my own writing style of code. I am excited to present and share the program my group and I have been working hard on in these upcoming weeks.
 </p>
        </div>
      </div>
    </div>
  </div>
  <!-- end member -->
  <br>
  <h1 class="display-4 text-center p-4">Facilitator</h1>

  <!-- member -->
  <div class="card mb-4 mt-4 mb-4">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{ url_for('static', filename = 'img/lily.jpg') }}" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Lily Zhang, <small class="text-muted">Bank of America</small></h5>
          <p class="card-text"><strong>How I got interested in Tech: </strong>I never thought I'd pursue CS as a major. It wasn't until I took a required CS course during my sophomore year that I realized I enjoyed coding. I loved writing code and logic and being able to instantly output results. The rest is history!</p>
          <p class="card-text"><strong>Why Tech?</strong> I wanted to be a doctor for the longest time because I thought it was the only way to help people. Once I was exposed to tech, I realized coding was a faster way to help people - with lines of code and logic, you can create something impactful within a small amount of time.</p>
          <p class="card-text"><strong>Favorite Woman in Tech: </strong> Grace Hopper - she is incredibly impressive and legendary for coining the term 'bug'.</p>
          <p class="card-text"><strong>Favorite Part of GWC: </strong>Sharing my interest in tech and learning from the girls! Together, we're re-defining the image of what a programmer looks like. I love the energy and ideas when I am in the classroom.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end member -->
</div>
{% endblock %}
