{% extends "layout.html" %}
{% block content %}
<div class="container">
 <h1 class="display-4 text-center mt-3">Projects</h1>
 <br>
 <div class="card-deck">
   <div class="card">
<img src="{{ url_for('static', filename = 'img/journey.jpg') }}" class="card-img" alt="...">     <div class="card-header"><strong>An Artist’s Journey</strong></div>
     <div class="card-body">
       <p class="card=text">This program is a ‘choose-your-own-adventure’ journey through the eyes of an artist.</p>
       <a href="choose-your-adventure" class="btn btn-primary">View Project</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">By: Serena Brantley, Lauren Houston, Sarita Pennoh</small>
    </div>
 </div>

 <div class="card">
   <img src="{{ url_for('static', filename = 'img/translator.jpg') }}" class="card-img" alt="...">
   <div class="card-header"><strong>Python-Java Translator</strong></div>
   <div class="card-body">
     <p class="card=text">Python-Java Translator</p>
     <a href="coding-languages" class="btn btn-primary">View Project</a>
  </div>
  <div class="card-footer">
    <small class="text-muted">By: Skylar Bruce, Kirsten Babsa-ay, Likhita Konakalla</small>
  </div>
</div>

</div>
<br>
<div class="card-deck">
  <div class="card">
    <img src="{{ url_for('static', filename = 'img/word_game.jpg') }}" class="card-img" alt="...">
  <div class="card-header"><strong>Guess the Word</strong></div>
    <div class="card-body">
      <p class="card=text">Our project is a guess the word game. </p>
      <a href="word-game" class="btn btn-primary">View Project</a>
   </div>
   <div class="card-footer">
     <small class="text-muted">By: Kamia Bryan & Amina Muhamed</small>
   </div>
</div>


<div class="card">
 <img src="{{ url_for('static', filename = 'img/tic_tac_toe.jpg') }}" class="card-img" alt="...">
  <div class="card-header"><strong>Beginner Games</strong></div>
 <div class="card-body">
   <p class="card=text">Tic-Tac-Toe against a random AI and a game of Guess the Number.</p>
   <a href="beginner-games" class="btn btn-primary">View Projects</a>
</div>
<div class="card-footer">
  <small class="text-muted">By: Pooja Yadav and Sreejani Jonnalagadda</small>
</div>
</div>
</div>
</div>
<br><br>
 {% endblock %}
