{% extends "layout.html" %}
{% block content %}
<div class="container">
 <h1 class="display-4 text-center mt-3">Tic-Tac-Toe</h1>
 <!-- add image here -->

 <br>
<ul class="list-group list-group-flush">
  <li class="list-group-item"><strong>Group Member(s): </strong>Pooja Yadav</li>
  <li class="list-group-item"><strong>Description: </strong>My game is all about a player and a computer who are playing against each other. A player selects one cell position and the computer selects another position at a random available cell, eventually this keeps going on iterations until one player wins. </li>
  <li class="list-group-item"><strong>Purpose: </strong>I created this game as a challenge to see if I could meet my goal of coding a game in python. </li>
  <li class="list-group-item"><strong>Audience: </strong>I’m sure many people with varying ages have played tic tac toe before and I don’t think this game targets a specific group of people.  </li>
  <li class="list-group-item"><strong>Inspiration: </strong>I chose this game because this is a very common game that many people enjoy, kids, adults, senior citizens. By creating this game I would be targeting many age groups.</li>
  <li class="list-group-item"><strong>Tech Stack: </strong>I coded this game in python 2</li>
  <li class="list-group-item"><strong>Challenges: </strong>I had a few challenges along the way, I was struggling with getting the correct outcome in my game, but with the help of my dad and lily I was able to complete my program correctly.</li>
  <li class="list-group-item"><strong>Future Plans: </strong>Due to lack of time I was unable to import graphic into my code, but I will definitely try to do that in the future. </li>
</ul>

<!-- add code to the bottom -->
<h3 class="display-4 text-center mt-3">Code</h3>
<p class="text-center">Continue scrolling to the bottom to play the game! </p>
  <br>
<iframe src="https://trinket.io/embed/python/bffdb31c1a?runOption=run&start=result" width="100%" height="600" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
 </div>
 <br><br><br>
 {% endblock %}
