{% extends "layout.html" %}
{% block content %}
<div class="container">
 <h1 class="display-4 text-center mt-3">Guess the Word</h1>
 <!-- add image here -->

 <br>
<ul class="list-group list-group-flush">
  <li class="list-group-item"><strong>Group Members: </strong>Kamia Bryan & Amina Muhamed</li>
  <li class="list-group-item"><strong>Description: </strong>Our project is a guess the word game. </li>
  <li class="list-group-item"><strong>Purpose: </strong>Our goal is for players to assess their guessing skills while having fun. </li>
  <li class="list-group-item"><strong>Audience: </strong>This game is intended for everyone regardless of reading or writing level. </li>
  <li class="list-group-item"><strong>Inspiration: </strong>Our inspiration came from reading. We love to expand our knowledge via books, so we created a program that involved words.</li>
  <li class="list-group-item"><strong>Tech Stack: </strong>We coded our program in C#. </li>
  <li class="list-group-item"><strong>Challenges: </strong>1 technical challenge was coding the random word generator. We have both coded random generators for numbers so it was a bit different this time. After consulting each other and a couple of our classmates, we were able to complete our program effectively.</li>
  <li class="list-group-item"><strong>Future Plans: </strong>1 thing we would improve upon is the number of possible words. We will continue to add words to our library, therefore giving the player a more diverse playing experience. </li>
</ul>

<!-- add code to the bottom -->
<h3 class="display-4 text-center mt-3">Code</h3>
<p class="text-center">Continue scrolling to the bottom to play the game! </p>
  <br>
<iframe src=https://tech.io/snippet-widget/H9nKpWX width=100% frameborder=0 scrolling=no allowtransparency=true style=visibility:hidden>
</iframe>
<script>if(void 0===window.techioScriptInjected){window.techioScriptInjected=!0;var script=document.createElement("script");script.src="https://files.codingame.com/codingame/iframe-v-1-4.js",(document.head||document.body).appendChild(script)}</script>

 </div>
 <br><br><br>
 {% endblock %}
